.navbar {
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo {
	width: 150px;
}

.navbar-menu {
	display: flex;
	align-items: center;
	gap: 20px;
	color: #49557e;
	list-style: none;
	font-size: 18px;
}



/* .navbar-menu li {
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
}

.navbar-menu li:hover::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 4px;
	background-color: #f68345;
	left: 0;
	bottom: -5px;
	transition: 0.7s;
} */

.navbar-menu li {
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
}

.navbar-menu li::after {
	content: '';
	position: absolute;
	width: 0%;
	height: 3px;
	background-color: #f68345;
	left: 0;
	bottom: -5px;
	transition: width 0.4s ease-out;
}

.navbar-menu li:hover::after {
	width: 100%;
}


.navbar-right {
	display: flex;
	align-items: center;
	gap: 40px;
}

.navbar-right button {
	background: transparent;
	border-radius: 50px;
	border: 1px solid tomato;
	padding: 10px 30px;
	cursor: pointer;
	font-size: 16px;
	color: #49557e;
	transition: 0.3s
}

.navbar-right button:hover {
	background-color: #fff4f2;
}

.navbar .active {
	background-color: #f68345;
	border-radius: 5px;
	color: rgb(255, 255, 255);
	padding: 5px;
	border-radius: 5px;
}

.navbar-search-icon {
	position: relative;
}

.navbar-search-icon .dot {
	min-width: 10px;
	min-height: 10px;
	background-color: tomato;
	border-radius: 5px;
	position: absolute;
	top: -8px;
	right: -8px;
}